/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================
          My Styles
============================ */

/* ====== General ====== */

header img {
	padding: 1rem;
	height: 150px;
	width: 100%;
	margin: auto;
}

nav a{
	font-family: "rift-soft", sans-serif;
	font-weight: 500;
	font-style: italic;
 	text-decoration: none;
	font-size: 1.5rem;
}

nav li a:hover {
	transform: scale(1.1);
	color: #db6d40;
}


body h1, h3 {
	font-family: "condor-condensed", sans-serif;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1.5px
}

h1 {
	font-size: 3rem;
	text-shadow: 2px 2px 5px rgb(0,0,0,.5);
}

h3 {
	font-size: 1.5rem;
	margin-top: 1em;
}

body h2 {
	font-family: "condor-condensed", sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 2.3rem;
	text-align: center;
	color: #42476c;
	padding-top: 1.5rem;
}

h4 {
	font-family: "pill-gothic-600mg", sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5;
}

body p {
	font-family: "rift-soft", sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 1.3;
	font-size: 1rem;
	margin-top: 1rem;
}

button {
	padding: .75rem 2rem;
	border: none;
	background-color: #db6d40;
	transform: skew(-15deg, 0);
	color: white;
	font-family:"rift-soft", sans-serif;
	font-weight: 500;
}

button:hover {
	opacity: 0.7;
	transform: scale(1.1);
  }

.home-about-us a {
	text-decoration: none;
}
#main-nav {
	background-color: #42476c;
}

nav ul {
	display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
	justify-content: space-around;
}

nav a:link,
nav a:visited {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav .current {
	border-bottom: 2px solid #fff;
	padding-bottom: 3px;
}

.skip-links{
	list-style: none;
	margin: 0;
	padding: 0;
  }
  .skip-links a{
	position: absolute;
	top: -3em;
	background-color: black;
	color:white;
	padding: .5em 1em;
	font-weight: bold;
  }
  
  .skip-links a:focus{
	top: 0;
  }

.container {
    padding:1.5rem;
	width: auto;
}

.mission, .about-history, .mission-vision {
    background-color: #42476c;
    color: white;
}

.site-footer h4{
	color: white;
	line-height: 1rem;
}


/* ====== Home Page ====== */

video {
	width: 100%;
}

.video {
	background-color: #acb5c2;
}

.tracking form {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: auto;
	transform: skew(-15deg, 0);
}

form .tracking {
	width: 100%;
}

 input[type=text]{
	width: 100%;
	display: flex;
	border: none;
	font-family: "rift-soft", sans-serif;
	font-weight: 400;
	font-style: italic;
	padding-top:1rem;
	padding-bottom: .25rem;
	padding-left: .5rem;
  }

  input[type=email]{
	width: 100%;
	display: flex;
	border: none;
	font-family: "rift-soft", sans-serif;
	font-weight: 400;
	font-style: italic;
	padding-top:1rem;
	padding-bottom: .25rem;
	padding-left: .5rem;
  }

 input[id=message] {
	width: 100%;
	display: flex;
	border: none;
	font-family: "rift-soft", sans-serif;
	font-weight: 400;
	font-style: italic;
	padding-top:.5rem;
	padding-bottom: 7rem;
	padding-left: .5rem;
  }

  input[type=submit] {
	background-color:#db6d40;
	color: white;
	text-align: center;
	padding: .5rem 2rem;
	border: none;
	border-radius: 0;
	margin-left: .3rem;
	font-family: "rift-soft", sans-serif;
	font-weight: 500;
	font-style: normal;
  }

  .contact-form input[type=submit] {
	padding: .5rem 2rem;
	font-style: italic;
	border-radius: 0;
  }

.tracking form:active {
	display: flex;
	margin: auto;
}

.tracking {
	position :relative;
	animation-name: trackMove;
	animation-duration: 1.5s;
}

@keyframes trackMove {
	0% {left:-1500px;}
	100%{left:0px;}
}

.tracking form {
	max-width: 400px;
}

.tracking-section {
	background-color: #acb5c2;
}
form ::placeholder {
    color:#000000;
    opacity: .7;
}

.container img { 
    width: 100%;
    object-fit: contain;
}

.business-account h3, .home-about-us h3 {
	color:#42476c;
	text-align: center;
}

.business-account p, .home-about-us p {
	text-align: center;
}

.business-account button, .home-about-us  button {
	display: flex;
	margin: auto;
	margin-top: 1rem;
}

.mission h4 {
	text-align: center;
}

/* ====== About Page ======  */ 

.about-history {
	text-align: center;
	padding: 1rem 1rem;
}

.meet-the-team-container {
    background-color: #db6d40;
    color: white;
}
 
[itemprop="name"]{
	font-family: "condor-condensed", sans-serif;
	font-size: 3rem;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1.5px;
}

[itemprop="jobTitle"]{
	font-family: "rift-soft", sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 1.3;
	font-size: 1.5rem;
	margin-top: 1rem;
}

.sean-text, .connor-text, .natalie-text {
	padding: 1rem 1rem 3rem 1rem;
}

.about-header-image {
	background-image:url(../images/about-header-image/accepting-package-at-door-760_x_505.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	text-align: center;
	color: white ;
	padding-top: 8rem;
	padding-bottom: 8rem;
}

/* ====== Contact Page ======  */

.contact-header-image {
	background-image:url(../images/contact-header-image/ottawa-parliament-760_x_448.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	text-align: center;
	color: white ;
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.contact-page h2 {
	text-align: left;
}

.contact-page p, h4{
	margin-top: .75rem;
}
.contact-page h4 {
line-height: normal;
}

main, .contact-page, .meet-the-team {
	background-color: rgba(172, 181, 194, 0.2);
}

.contact-page form {
	margin-top: 1.5rem;
}

.contact-page input[type=submit]:active {
		opacity:1;
		transform:translateX(600px) skew(-15deg, 0);
		transition:1s;
	  }

/* ====== Carousel ====== */

/* =====================
Code source: "A CSS-only Carousel Slider", Christian Schaefer https://codepen.io/Schepp/pen/WNbQByE
========================*/

@keyframes tonext {
	75% {
	  left: 0;
	}
	95% {
	  left: 100%;
	}
	98% {
	  left: 100%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes tostart {
	75% {
	  left: 0;
	}
	95% {
	  left: -300%;
	}
	98% {
	  left: -300%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes snap {
	96% {
	  scroll-snap-align: center;
	}
	97% {
	  scroll-snap-align: none;
	}
	99% {
	  scroll-snap-align: none;
	}
	100% {
	  scroll-snap-align: center;
	}
  }
  
  * {
	box-sizing: border-box;
	scrollbar-color: transparent transparent; /* thumb and track color */
  }
  
  *::-webkit-scrollbar {
	width: 0;
  }
  
  *::-webkit-scrollbar-track {
	background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
	background: transparent;
	border: none;
  }
  
  * {
	-ms-overflow-style: none;
  }
  
  ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .carousel {
	width: 100%;
	position: relative;
	padding-top: 75%;
	filter: drop-shadow(0 0 10px #0003);
	perspective: 100px;
  }
  
  .carousel__viewport {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	overflow-x: scroll;
	counter-reset: item;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
	position: relative;
	flex: 0 0 100%;
	width: 100%;
	counter-increment: item;
	font-size: 0;
	background-size: cover;
  }
  
  .carousel__slide:nth-child(1) {
	background-image:url("../images/carousel-images/delivery-person-with-boxes-640_x_426.jpg");
  }

  .carousel__slide:nth-child(2) {
	background-image:url("../images/carousel-images/delivery-person-ringing-bell-640_x_426.jpeg");
  }

  .carousel__slide:nth-child(3) {
	background-image:url("../images/carousel-images/signing-for-package-2-640_x_426.jpeg");
  }

  .carousel__slide:nth-child(4) {
	background-image:url("../images/carousel-images/signing-for-package-640_x_426.jpeg");
  }
  
  .carousel__slide:before {
	content: counter(item);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-40%,70px);
  }
  
  .carousel__snapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scroll-snap-align: center;
  }
  
  @media (hover: hover) {
	.carousel__snapper {
	  animation-name: tonext, snap;
	  animation-timing-function: ease;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;
	}
  
	.carousel__slide:last-child .carousel__snapper {
	  animation-name: tostart, snap;
	}
  }
  
  @media (prefers-reduced-motion: reduce) {
	.carousel__snapper {
	  animation-name: none;
	}
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
	animation-name: none;
  }
  
  .carousel__navigation {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
	display: inline-block;
  }
  
  .carousel__navigation-button {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-color:white;
	background-clip: content-box;
	border: 0.25rem solid transparent;
	border-radius: 50%;
	font-size: 0;
	transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	position: absolute;
	top: 0;
	margin-top: 37.5%;
	width: 4rem;
	height: 4rem;
	transform: translateY(-50%);
	border-radius: 50%;
	font-size: 0;
	outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
	left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
	right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
	content: '';
	z-index: 1;
	background-color: #42476c;
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	font-size: 2.5rem;
	line-height: 4rem;
	text-align: center;
	pointer-events: none;
  }
  
  .carousel::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

  /* End of carousel code from Christian Schaefer https://codepen.io/Schepp/pen/WNbQByE Some alterations were made  */
  
  .carousel-background {
	background-color: #db6d40;
	padding-top: 1rem;
}

/* ====== Footer ======= */

footer {
    background-color: #512928;
}

footer ul li a {
	color: white;
	text-decoration: none;
	font-family: "pill-gothic-600mg", sans-serif;
	font-weight: 100;
	font-style: normal;
	line-height: 1.5;
}

.fa {
	padding: 20px;
	text-decoration: none;
	color: white;
  }

  .fa:nth-child(1) {
	padding-left:0;
  }

  .social-icons {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: auto;
  }

  .copyright {
	color: #fff;
	font-family: "pill-gothic-600mg", sans-serif;
	padding-top: 3rem;
  }

  .copyright a {
	color: #fff;
	padding-left: 3rem;
  }

  /* =========== TABLET STYLES: 760px to 1279px ============ */

  @media screen and (min-width: 760px) {

    .container {
        width: 706px;
        margin: 0 auto;
    }

	#main-nav {
		background-color: #fff;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding-right: 2rem;
	}

	nav ul {
		padding-bottom: 1.5rem;
		width: 100%;
		justify-content: flex-end;
	}

	nav ul li {
		margin-left: 4rem;
	}
	
	nav a:link,
	nav a:visited {
		display: block;
		color:#42476c;
		text-decoration: none;
		text-align: center;
	}

	nav .current {
		border-bottom: 2px solid #db6d40;
		padding-bottom: 3px;
	}

	 .about-header-image, .contact-header-image{
		width: 706px;
        margin: 0 auto;
    }

	.carousel {
		width: 706px;
		margin: auto;
		padding:250px;
	}

	.carousel__viewport {
		height:500px;
	}

	.nav-logo {
		display: grid;
		grid-template-columns: 25% 75%;
	}

	.tracking {
		position :relative;
		animation-name: trackMove;
		animation-duration: 2s;
	}
	
	@keyframes trackMove {
		0% {left:-1500px;}
		100%{left:0px;}
	}

	/* Background image used so text will show on top */
	.about-header-image {
		background-image:url(../images/about-header-image/accepting-package-at-door-1200_x_799.jpg);
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		align-items: center;
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

	.meet-the-team-container {
		display: flex;
		flex-direction: row;
		background: none;
	}

	[itemprop="name"]{
		font-size: 1.5rem;
	}
	
	[itemprop="jobTitle"]{
		font-size: 1rem;
	}
	.sean-bio, .connor-bio, .natalie-bio{
		margin-right: 1rem;
		background-color: #db6d40;
	}
	
	.contact-header-image {
		background-image:url(../images/contact-header-image/ottawa-parliament-1200_x_708.jpg);
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		align-items: center;
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

}

/* =========== DESKTOP STYLES: ABOVE 1280px ============= */

@media screen and (min-width: 1280px) {

/* larger fonts for larger screens */
h1 {
	font-size:5rem;
}

body h2{
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 1.5rem;
}

body p {
	font-size: 1.5rem;
}

nav a{
	font-size: 2rem;
}

header img {
	height: 200px;
	margin-left: auto;
}

footer ul li a {
	font-size: 1.5rem;
}

.container {
	width: 1200px;
}

.tracking form {
	max-width: 600px;
}

.tracking input[type=text]{
	font-size: 1.25rem;
	padding-top:1.5rem;
	padding-bottom: .25rem;
	padding-left: .5rem;
  }

  .tracking input[type=submit] {
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 1.25rem;
  }

  /* grid used to show items side by side on larger screens */

.container .business-account {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.business-account h3, .business-account p {
	padding-left: 1.5rem;
	text-align: left;
}

.business-account h3{
	margin-top: 0px;
	margin-bottom: auto;
}

.business-account button{
	display: flex;
	margin-left:1.5rem;
	margin-top: 1rem;
	font-size: 1.25rem;
}

 /* grid used to show items side by side on larger screens */
.container .home-about-us {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

 .about-us-content {
	grid-column:1;
	grid-row: 1;
 }

.home-about-us h3, .home-about-us p {
	padding-right: 1.5rem;
	text-align: right;
	margin-top: 0px;
	margin-bottom: auto;
}
.home-about-us h3{
	margin-top: 0px;
	margin-bottom: auto;
}
.home-about-us  button {
	display: flex;
	margin-right:1.5rem;
	margin-top: 1rem;
	font-size: 1.25rem;
}

.carousel__viewport {
	width:100%;
}
/* ====== About Page ====== */

.about-header-image {
	background-image:url(../images/about-header-image/accepting-package-at-door-1920_x_1279.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	align-items: center;
	padding-top: 20rem;
	padding-bottom: 20rem;
}

/* Flex used to show team members side by side on larger screens */
.meet-the-team-container {
	display: flex;
	flex-direction: row;
	background: none;
}

.sean-bio, .connor-bio, .natalie-bio{
	margin-right: 1rem;
	background-color: #db6d40;
}
[itemprop="name"]{
	font-size: 3rem;
}

[itemprop="jobTitle"]{
	font-size: 1.5rem;
}
/* ====== Contact Page ====== */

.contact-header-image {
	background-image: url(../images/contact-header-image/ottawa-parliament-1920_x_1134.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	align-items: center;
	padding-top: 20rem;
	padding-bottom: 20rem;
}

/* max-width used so the form doesn't stretch across thw whole screen */
.contact-form {
	max-width: 700px;
}

.contact-form input[type=submit]{
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 1.25rem;
}
}
  