/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================
          My Styles
============================ */

/* General */
header img {
	padding: 1rem;
	height: 150px;
	width: 100%;
	margin: auto;
}

nav a{
	font-family: "rift-soft", sans-serif;
	font-weight: 500;
	font-style: italic;
 	text-decoration: none;
	font-size: 1.5rem;
}

body h1, h3 {
	font-family: "condor-condensed", sans-serif;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1.5px
}

h1 {
	font-size: 3rem;
	text-shadow: 2px 2px 5px rgb(0,0,0,.5);
}

h3 {
	font-size: 1.5rem;
	margin-top: 1em;
}

body h2 {
	font-family: "condor-condensed", sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 2.3rem;
	text-align: center;
	color: #42476c;
	padding-top: 1.5rem;
}

h4 {
	font-family: "pill-gothic-600mg", sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5;
}

body p {
	font-family: "rift-soft", sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 1.3;
	font-size: 1rem;
	margin-top: 1rem;
}

button {
	padding: .75rem 2rem;
	border: none;
	background-color: #db6d40;
	transform: skew(-15deg, 0);
	color: white;
	font-family:"rift-soft", sans-serif;
	font-weight: 500;
}

button:hover {
	opacity: 0.7;
	scale: 1.1;
  }

.home-about-us a {
	text-decoration: none;
}
nav {
	background-color: #42476c;
}

nav ul {
	display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
	justify-content: space-around;
}

nav a:link,
nav a:visited {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
}

.container {
    padding: 1.5rem;
	width: auto;
}

.mission, .about-history, .mission-vision {
    background-color: #42476c;
    color: white;
}

/* Home */

.tracking form {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: auto;
	transform: skew(-15deg, 0);
}

.tracking .container {
	width: 100%;
}

input[type=text]{
	width: 100%;
	display: flex;
	border: none;
	font-family: "rift-soft", sans-serif;
	font-weight: 400;
	font-style: italic;
	padding-top:1rem;
	padding-bottom: .25rem;
	padding-left: .5rem;
  }

  input[type=email]{
	width: 100%;
	display: flex;
	border: none;
	font-family: "rift-soft", sans-serif;
	font-weight: 400;
	font-style: italic;
	padding-top:1rem;
	padding-bottom: .25rem;
	padding-left: .5rem;
  }

 input[type=textarea] {
	width: 100%;
	display: flex;
	border: none;
	font-family: "rift-soft", sans-serif;
	font-weight: 400;
	font-style: italic;
	padding-top:.5rem;
	padding-bottom: 7rem;
	padding-left: .5rem;
  }

  input[type=submit] {
	background-color:#db6d40;
	color: white;
	text-align: center;
	padding: .5rem 2rem;
	border: none;
	margin-left: .3rem;
	font-family: "rift-soft", sans-serif;
	font-weight: 500;
	font-style: normal;
  }

  .contact-form input[type=submit] {
	padding: .5rem 2rem;
	font-style: italic;
  }


.tracking {
    background-color: #acb5c2;
	display: flex;
	margin: auto;
}

form ::placeholder {
    color:#000000;
    opacity: .7;
}

.container img { 
    width: 100%;
    object-fit: contain;
}

.business-account h3, .home-about-us h3 {
	color:#42476c;
	text-align: center;
}

.business-account p, .home-about-us p {
	text-align: center;
}

.business-account button, .home-about-us  button {
	display: flex;
	margin: auto;
	margin-top: 1rem;
}

.mission h4 {
	text-align: center;
}
/* About */ 

.about-history {
	text-align: center;
	padding: 1rem 1rem;
}

.meet-the-team-container {
    background-color: #db6d40;
    color: white;
}
.meet-the-team h3{
	padding-left: 1rem;
}

.meet-the-team p {
	padding-left: 1rem;
	padding-bottom: 3rem;
}

.about-header-image {
	background-image:url(../images/accepting-package-at-door-640_x_426.jpg);
    background-size: cover;
	text-align: center;
	color: white ;
	padding-top: 8rem;
	padding-bottom: 8rem;
}


/* Contact */

.contact-header-image {
	background-image:url(../images/ottawa-parliament-640_x_378.jpg);
    background-size: cover;
	text-align: center;
	color: white ;
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.contact-page h3 {
	color: #42476c;
}
.contact-page p, h4{
	margin-top: .75rem;
}
.contact-page h4 {
line-height: normal;
}

main, .contact-page, .meet-the-team {
	background-color: rgba(172, 181, 194, 0.2);
}

.contact-page form {
	margin-top: 1.5rem;
}

/* Carousel */

/* =====================
Code source: "A CSS-only Carousel Slider", Christian Schaefer https://codepen.io/Schepp/pen/WNbQByE
========================*/

@keyframes tonext {
	75% {
	  left: 0;
	}
	95% {
	  left: 100%;
	}
	98% {
	  left: 100%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes tostart {
	75% {
	  left: 0;
	}
	95% {
	  left: -300%;
	}
	98% {
	  left: -300%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes snap {
	96% {
	  scroll-snap-align: center;
	}
	97% {
	  scroll-snap-align: none;
	}
	99% {
	  scroll-snap-align: none;
	}
	100% {
	  scroll-snap-align: center;
	}
  }
  
  * {
	box-sizing: border-box;
	scrollbar-color: transparent transparent; /* thumb and track color */
  }
  
  *::-webkit-scrollbar {
	width: 0;
  }
  
  *::-webkit-scrollbar-track {
	background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
	background: transparent;
	border: none;
  }
  
  * {
	-ms-overflow-style: none;
  }
  
  ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .carousel {
	width: 100%;
	position: relative;
	padding-top: 75%;
	filter: drop-shadow(0 0 10px #0003);
	perspective: 100px;
  }
  
  .carousel__viewport {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	overflow-x: scroll;
	counter-reset: item;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
	position: relative;
	flex: 0 0 100%;
	width: 100%;
	counter-increment: item;
	font-size: 0;
	background-size: cover;
  }
  
  .carousel__slide:nth-child(1) {
	background-image:url("../images/carousel-images/delivery-person-with-boxes-640_x_426.jpg");
  }

  .carousel__slide:nth-child(2) {
	background-image:url("../images/carousel-images/delivery-person-ringing-bell-640_x_426.jpeg");
  }

  .carousel__slide:nth-child(3) {
	background-image:url("../images/carousel-images/signing-for-package-2-640_x_426.jpeg");
  }

  .carousel__slide:nth-child(4) {
	background-image:url("../images/carousel-images/signing-for-package-640_x_426.jpeg");
  }
  
  .carousel__slide:before {
	content: counter(item);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-40%,70px);
  }
  
  .carousel__snapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scroll-snap-align: center;
  }
  
  @media (hover: hover) {
	.carousel__snapper {
	  animation-name: tonext, snap;
	  animation-timing-function: ease;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;
	}
  
	.carousel__slide:last-child .carousel__snapper {
	  animation-name: tostart, snap;
	}
  }
  
  @media (prefers-reduced-motion: reduce) {
	.carousel__snapper {
	  animation-name: none;
	}
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
	animation-name: none;
  }
  
  .carousel__navigation {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
	display: inline-block;
  }
  
  .carousel__navigation-button {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-color:#42476c;
	background-clip: content-box;
	border: 0.25rem solid transparent;
	border-radius: 50%;
	font-size: 0;
	transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	position: absolute;
	top: 0;
	margin-top: 37.5%;
	width: 4rem;
	height: 4rem;
	transform: translateY(-50%);
	border-radius: 50%;
	font-size: 0;
	outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
	left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
	right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
	content: '';
	z-index: 1;
	background-color: #333;
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	font-size: 2.5rem;
	line-height: 4rem;
	text-align: center;
	pointer-events: none;
  }
  
  .carousel::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  

/* Footer */

footer {
    background-color: #512928;
}

footer ul li a {
	color: white;
	text-decoration: none;
	font-family: "pill-gothic-600mg", sans-serif;
	font-weight: 100;
	font-style: normal;
	line-height: 1.5;
}